@charset "UTF-8";

a:hover {
  opacity: 0.5;
}
/* =================
header
===================*/
.top_img {
  position: relative;
  line-height: 0.8;
}
.top_img h2 {
  position: absolute;
  top: 50%;
  font-size: 3rem;
  font-weight: normal;
  padding: 5% 9% 5% 7%;
  background-color: rgba(255, 255, 255, 0.5);
}
.top_img small {
  color: #0554B0;
  font-size: 0.75rem;

}
/* =================
見出し文字
===================*/
.top_txt {
  text-align: center;
}
.top_txt h1 {
  font-size: 2rem;
}
