@charset "UTF-8";

body {
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.8;
  font-family: 'Noto Sans JP', sans-serif ,'Noto Serif JP', serif;
  word-break: break-all;
  font-size: 17px;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}
/* =================
header
===================*/
.header_inner {
  width: 77%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_left h1 {
  font-size: 2rem;
  font-weight: normal;
  margin-left: 1rem;
}

.header_nav ul {
  display: flex;

}

.header_nav li {
  margin-left: 1rem;
}

.header_nav ul li a {
  writing-mode: vertical-rl;
}

.top_img img {
  width: 100%;
  height: auto;
}

.top_img {
  position: relative;
}

.main_txt {
  font-size: 4rem;
  font-weight: normal;
  font-family: 'Noto Serif JP', serif;
  position: absolute;
  top: 40%;
  left: 5%;
}
.header_nav li a:hover {
  opacity: 0.5;
}
.header_nav li a.color {
  color: #0554B0;
}
/* ====================== section */
.section {
  padding: 10% 0;
}

.title {
  font-size: 3rem;
  line-height: 0.8;
  color: #0554B0;
  text-align: center;
}
.title small{
  font-size: 1rem;
  color: #333;
}
/* ボタン */
.btn {
  background-color: #0554B0;
  width: 200px;
  margin: 0 auto;
  line-height: 2;
  border-radius: 0.8rem;
}

.btn a {
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 5%;
  text-align: center;
}

.btn:hover {
  opacity: 0.5;
}

.bg_txt {
  color: rgba(255, 245, 109, 0.27);
  font-size: 13rem;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.5rem;
}
.news_list {
  margin: 4% 0;
}
/* ====================== 施工事例item */
.works_item img {
  width: 100%;
  height: auto;
}

.works_item p {
  width: 70%;
  height: auto;
  margin-left: auto;
  background-color: #fff;
  border-top: 5px solid #FFF56D;
  line-height: 2rem;
  padding: 0.8rem;
}
/* =================
contact
===================*/
.contact_wrapper {
  margin: 10% 0;
}

.tel {
  position: relative;
  font-weight: bold;
  font-size: 1.8rem;
}

.tel::before {
  position: absolute;
  top: 12px;
  left: -35px;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/tel.png) no-repeat;
  background-size: 30px 30px;
}

.contact_inner {
  text-align: center;
  width: 40%;
  margin: 5% auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* =================
footer
===================*/
.footer_wrapper {
  background: #D8CDCD;
}
.footer_inner {
  width: 77%;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.footer_inner {
  display: flex;

}
.footer_left {
  display: flex;
  align-items: center;
}
.footer_left_txt {
  padding-top: 10%;
}
.footer_left h1 {
  margin-left: 1rem;
  font-weight: normal;
}

.footer_nav ul {
  display: flex;

}

.footer_nav li {
  margin-left: 1rem;
}

.footer_nav ul li a {
  writing-mode: vertical-rl;
}
.footer_nav li a:hover {
  opacity: 0.5;
}
.footer_nav li a.color {
  color: #0554B0;
}