@charset "UTF-8";


/* =================
news
===================*/
.section_bg {
  background-color: #FCF8E8;
}
.news_wrapper {
  text-align: center;
}
.news {
  text-align: center;
  display: block;
}

.news_list {
  text-align: left;
  display: inline-block;

}
/* =================
business
===================*/
.business {
  margin-top: 10% ;
}
.business_wrapper {
  position: relative;
}
.bg_txt_business {
  position: absolute;
  top: -15%;
  right: -5%;
  line-height: 0;
  z-index: -1;
}
.business_inner {
  display: flex;
}
.business_block_1 {
  width: 40%;
}
.business_block_2 {
  width: 27%;
  margin: 0 auto;
}
.business_block_2 p {
padding-top: 20%;
padding-bottom: 15%;
}
.business_title {
  display: inline-block;
  margin: 7%  0 0 55% ;
}
.business_btn {
  margin: unset;
  margin-left: auto;
}
/* =================
画像黒枠
===================*/
.img_border {
  position: absolute;
  top: 2rem;
  left: 3rem;
  width: 690px;
  height: 410px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000;
}
.business_block_1 img {
  position: relative;
}
/* =================
recruit
===================*/
.recruit_bg {
  width: 87%;
  height: 42vh;
  margin-left: auto;
  background-color: #FCF8E8;
}
.recruit_inner {
  display: flex;
  justify-content: flex-end;
}
.recruit_block_1 {
  width: 27%;
  margin: 0 auto;
}
.recruit_block_1 img{
  width: 100%;
  height: auto;
}
.recruit_block_2 {
  width: 40%;
}
.recruit_block_1 p {
  padding-top: 20%;
  padding-bottom: 15%;
}
.recruit_title {
  display: inline-block;
}
.recruit_btn {
  margin: unset;
}
.recruit_bg {
  position: absolute;
  right: 0;
}
.recruit_inner {
  position: relative;
  top: 10vh;
}
.bg_txt_wrapper {
  position: absolute;
}
.bg_txt_recruit {
  position: relative;
  bottom: 22vh;
  left: 5%;
  z-index: -1;
}
/* =================
works
===================*/
.works {
  width: 77%;
  height: 100%;
  margin: 0 auto;
  /* background-color: aqua; */
}
.works_wrapper {
  width: 100%;
  height: 75vh;
}

.works_item_inner {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}
.works_item  {
  width: 45%;
  height: auto;
  position: relative;
}
.works_item p {
  position: absolute;
  top: 90%;
  right: 0;
  padding: 1rem;
}
.bg_txt_works {
  position: relative;
}
.bg_txt_works p {
  position: absolute;
  bottom: 40vh;
  left: 50%;
  z-index: -1;
} 
