@charset "UTF-8";

/* =================
header
===================*/
header_inner {
  display: flex;

}
.header_right {
  width: ;
}
.header_list {
  display: table;
}
.header_list li {
  display: table-cell;
  writing-mode: vertical-rl;
}