@charset "UTF-8";

/* =================
header
===================*/
header_inner {
  display: flex;

}
.header_list {
  di
  display: table;
}
.header_list li {
  display: table-cell;
  writing-mode: vertical-rl;
}
.color {
  color: 0554B0;
}