@charset "UTF-8";

/* =================
header
===================*/
header_inner {
  display: table;

}
.header_left {

}
.header_right {
  display: table;
}
.header_right li {
  display: table-cell;
  writing-mode: vertical-rl;
}